<nav
  class="bg-gray-800 border-b border-gray-700 sticky top-0 z-30"
  data-simple-nav="true"
>
  <div class="container mx-auto px-4">
    <div class="flex justify-start items-center h-16">
      <div class="flex-shrink-0 flex items-center cursor-pointer">
        <span
          id="nav-brand"
          class="text-white font-bold text-xl"
        >
          <a href="{{baseUrl}}">
            {{#if brandName}}{{brandName}}{{else}}PDF Editor{{/if}}
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
